@import "../Login/Login.module.css";

/* ======== Fondo y disposición general ======== */
.recoverBg {
  composes: loginBg from "../Login/Login.module.css";
 
}

/* ======== Contenedor principal ======== */
.recoverWrapper {
  composes: loginWrapper from "../Login/Login.module.css";
  width: 450px;
}

@media (max-width: 450px){
  .recoverWrapper {
    width:100%;
  }
}

.recoverCard {
  composes: card from "../Login/Login.module.css";

}

/* ======== Títulos ======== */
.recoverTitle {
  composes: cardTitle from "../Login/Login.module.css";
  font-size: 1.5rem;
}

.recoverDesc {
  composes: cardDesc from "../Login/Login.module.css";
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.4rem;
}

/* ======== Botón ======== */
.submitButton {
  composes: mainButton from "../Login/Login.module.css";
}

/* ======== Link inferior ======== */
.linkRow {
  composes: registerRow from "../Login/Login.module.css";
  font-size: 0.9rem;
}

.link {
  color: #7b61ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
